.slider {
    width: 100vw;
    height: 50vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 30;
  }
  
.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 30;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 70vh;
    }
}

.enlace {
    transition: all 0.3s ease-in-out;
  }
  
  .enlace:hover {
    color: #facc15;
    text-decoration: underline;
    transform: scale(1.05);
  }
  
  .slider .item {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

/* contenido slides */

.banner-container {
    position: absolute;
    inset: 0;
    z-index: 20;
    display: flex;
    align-items: center;
  }
  
  .banner-content {
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
  }

  @media (min-width: 768px) {
    .banner-content {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
  
  .banner-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .banner-title {
      font-size: 2.25rem;
    }
  }
  
  .swiper-slide {
    width: 400px; /* O el ancho que desees */
    background-color: #1e293b;
    border-radius: 1rem;
    color: white;
  }
  
  
  